.map-container {
  width: 100%; /* Die Karte soll die volle Breite des Containers einnehmen */
  height: 400px; /* Feste Höhe für die Karte */
  position: relative;
  z-index: 0;
  border-radius: 8px; /* Abgerundete Ecken */
  border: 1px solid #ddd; /* Rahmen für die Karte */
  margin-bottom: 20px; /* Optional: Abstand nach unten */
}

.app-title {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem; /* Größerer Titel */
}

.filter-container {
  margin-bottom: 20px;
}

.filter-button {
  height: 56px; /* Gleiche Höhe wie Textfelder */
}

.section-title {
  margin-top: 30px;
  font-size: 1.5rem; /* Optional: Schriftgröße anpassen */
}
